
img{
    margin-bottom: 35px;
}
.accordion-button{
    font-family: 'Kalam', cursive;
    font-size: 25px; 
}
.section{
    margin-bottom: 160px;
}
.accordion-collapse{
    font-family:'Kalam', cursive ;
    background-color: rgb(213, 221, 221);
    font-size: 20px;
    color: rgb(1, 17, 1);
}
.list-group-item{
    background-color: rgb(240, 248, 250);
    color: rgb(22, 23, 22);
}