<section class="section">
    <img src="../../../../assets/source/travel/clipart.jpg" id="imgTips" class="img-fluid" alt="...">
    <!-----=============carrousel=========-->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Documentación
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Ten en cuenta siempre, dependiendo del lugar a donde vayas.</strong>
                    <ul class="list-group">
                        <li class="list-group-item ">Visado </li>
                        <li class="list-group-item">Pasaporte</li>
                        <li class="list-group-item">En algunos paises será indispensable tu carnet y tus vacunas al
                            dia</li>
                        <li class="list-group-item">Permisos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Equipaje
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Recuerda que este va a depender siempre del tipo de turismo que quieres hacer</strong>
                    <ul class="list-group">
                        <li class="list-group-item">Si tu viaje es más aventurero recuerda: </li>
                        <li class="list-group-item">Llevar zapatillas o tennis cómodos</li>
                        <li class="list-group-item">Unas buenas botas</li>
                        <li class="list-group-item">Gorra</li>
                        <li class="list-group-item">Sombrero</li>
                        <li class="list-group-item">Repelente</li>
                        <li class="list-group-item">Bloqueador Solar</li>
                        <li class="list-group-item">Gafas De Sol</li>
                        <li class="list-group-item">Varios cambios de ropa que te permitan estar cómodo
                            independiente de las actividades</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Gadgets
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Para aquellos que prefieren siempre estar conectados con el mundo </strong>
                    <ul class="list-group">
                        <li class="list-group-item">Recuerda que en algunos paises los tomacorriente son un poco
                            diferentes</li>
                        <li class="list-group-item">Por esto siempre lleva contigo un adaptador universal</li>
                        <li class="list-group-item">Cámara si quieres documentar tu viaje</li>
                        <li class="list-group-item">Cables usb</li>
                        <li class="list-group-item">Baterias por supuesto</li>
                        <li class="list-group-item"><strong>Si eres amante de los drones,</strong></li>
                        <li class="list-group-item">Un buen cover resistente a golpes y salpicaduras</li>
                        <li class="list-group-item">Todo esto con el fin siempre de proteger tus equipos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------->
</section>