<section id="contenedor-img" class="container-fluid card">
    <div class="img-container">
        <img ng src="../../../../assets/source/travel/travel.jpg" id="travel" class="card-img" alt="...">
    </div>
    <article class="card-text-container">
        <h5 id="titulo1" class="card-title">La aventura vale la pena!</h5>
        <p id="frase1" class="card-text"><br>«Viajar te deja sin palabras y después te convierte en un narrador de
            historias».
            Ibn Battuta.</p>
        <p class="card-text"><small></small></p>
    </article>
</section>
<!-------------------------CARD LIST---------------------->
<main id="container-card" class="container-fluid d-flex  text-center">
    <section class="row">
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/source/aruba/flami.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/aruba/cueva.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/aruba/arbol.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">ARUBA</h5>
                    <p class="card-text">una pequeña isla del Caribe holandés frente a las costas de Venezuela,
                        tiene un clima seco y soleado, playas claras y un oleaje suave. Los constantes vientos
                        alisios traen brisas frescas y hacen que los árboles dividivi se inclinen hacia el suroeste.
                    </p>
                    <a href="https://www.aruba.com/es" target="_blank" class="btn btn-primary">Quieres Saber
                        Mas!</a>
                </div>
            </section>
        </article>
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section id="card2" class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/source/Bali/castillo.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/Bali/marytierra.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/Bali/tierra.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BALI</h5>
                    <p class="card-text">Es una isla de Indonesia conocida por sus frondosas montañas
                        volcánicas, los icónicos arrozales, las playas y los arrecifes de coral. La isla alberga
                        sitios religiosos, como el templo Uluwatu en un acantilado.</p>
                    <a href="https://www.viajarabali.com/que-visitar-bali.php" target="_blank"
                        class="btn btn-primary">Quieres Saber Mas!</a>
                </div>
            </section>
        </article>
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/source/maldivas/pareja.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/maldivas/muelle.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/maldivas/tunel.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">MALDIVAS</h5>
                    <p class="card-text">Es un país tropical en el océano Índico que abarca 26 atolones con
                        forma de anillos que se componen de más de 1,000 islas de coral. Es conocido por las playas,
                        las lagunas azules y los extensos arrecifes.</p>
                    <a href="https://www.maldivas.net/" target="_blank" class="btn btn-primary">Quieres Saber
                        Mas!</a>
                </div>
            </section>
        </article>
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/source/Rio/cristo.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/Rio/ciudad.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/Rio/telefe.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">RIO D'JANEIRO</h5>
                    <p class="card-text">Es una enorme ciudad costera de Brasil, famosa por sus playas de Copacabana
                        e Ipanema, la estatua del Cristo Redentor de 38 m de alto sobre el cerro del Corcovado y el
                        morro Pan de Azúcar, una cima de granito con teleféricos que ascienden a su cima.</p>
                    <a href="https://imaginariodejaneiro.com/" target="_blank" class="btn btn-primary">Quieres Saber
                        Mas!</a>
                </div>
            </section>
        </article>
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/source/cuba/costa.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/cuba/palma.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/cuba/puente.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">VARADERO-CUBA</h5>
                    <p class="card-text">Abarca la estrecha península de Hicacos en Cuba, es una ciudad balneario
                        popular. A lo largo de la costa de 20 km en el Atlántico, hay una hilera de hoteles y
                        complejos de spa con todo incluido y un campo de golf.</p>
                    <a href="https://www.visitarcuba.org/varadero" target="_blank" class="btn btn-primary">Quieres
                        Saber Mas!</a>
                </div>
            </section>
        </article>
        <article class="col-sm-12 col-lg-6 col-xl-4 columna">
            <section id="card1" class="card" style="width: 18rem;">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <img src="../../../../assets/source/cancun/aerea.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/cancun/chichen.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../assets/source/cancun/mar.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">CANCÚN</h5>
                    <p class="card-text"> Es una ciudad de México ubicada en la península de Yucatán que
                        limita con el mar Caribe y que es conocida por sus playas, los numerosos centros turísticos
                        y la vida nocturna.

                        ..</p>
                    <a href="https://www.caribemexicano.travel/cancun/" target="_blank" class="btn btn-primary">Quieres
                        Saber Mas!</a>
                </div>
            </section>
        </article>
    </section>
</main>