<main class="main">
    <h5 id="mision" class="card-title">Misión | Visión |</h5>
    <section id="text-mision" class="container-fluid">
        <div class="parte1">
        <p id="tmision" class="card-text"><br><b>MISIÓN</b><br>La empresa brinda una asistencia profesional a todos
            aquellos que
            necesiten un servicio de viaje. El
            esfuerzo está centrado en brindar respuestas rápidas, precisas y eficientes, buscando satisfacer a
            nuestros
            clientes con nuestro servicio, asesoramiento, compromiso, precio, solución de posibles
            inconvenientes
            (antes, durante ó después de cada viaje). Damos un servicio a medida, tanto para empresas, como para
            pasajeros individuales, ya sea viajen por placer o negocios.

            La capacidad de nuestro personal para brindar respuestas adecuadas, forma parte de nuestra
            fortaleza,
            haciendo seguimiento permanente sobre las operaciones que se efectúan.

            Nuestra principal herramienta es el acceso directo a la información a través de redes on-line de
            comunicación, sumado a un conocimiento de los PP indicados para cada servicio, así como condiciones
            mejoradas en relación a otras Agencias de la zona.

            El manejo adecuado de bases de datos obtenidas de nuestros clientes, hace más dinámica la gestión
            comercial.<br><br><b>VISIÓN</b><br> Promover el crecimiento sustentable de la organización, basado en la
            innovación permanente tanto en
            la
            prestación de los servicios, el acercamiento a los clientes, la calidad de la información brindada,
            el
            asesoramiento adecuado para cada necesidad.

            Lograr una organización flexible a los cambios que el mercado requiere, anticipar las tendencias
            para
            generar propuestas diferenciadoras y variadas.

            Fortalecer en forma constante la inversión en tecnología para el desarrollo de nuestra actividad.

            Posicionar a Hayland Travel como consolidador para toda la Patagonia.

            Generar acciones que estimulen las alianzas con organizaciones que colaboren socialmente en diversos
            ámbitos
            de la ciudad, a favor de la equidad social y el desarrollo deportivo.</p>
        </div>
        <div id="parte" class="col-md-6 col-12">
            <section class=" container-fluid-flex">
                <img src="../../../../assets/source/portada/puesta1.jpeg" class="flex-shrink" alt="...">
                <article>
                    <h5 class="mt-5">QUE ESPERAS?<br> HAY UN MUNDO ALLÁ AFUERA!</h5>
                    <p class="linea1">«La gente no hace viajes, son los viajes los que hacen a la gente». John Steinbeck
                        <br>
                        «Viajar es fatal para los prejuicios, la intolerancia y la estrechez de miras». Mark Twain.</p>
                    <button [routerLink]="['/beaches']" class="btn btn-info" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">TOP 25 De las Mejores Playas Del
                        Mundo</button>
                </article>
            </section>
        </div>
    </section>
    
</main>