/* Estilos generales para laptops/desktops */
.navbar-brand {
    font-size: 24px;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
    .navbar {
        font-size: 10px;
        width: 100%;
    }
    #menu {
        width: 100%;
    }
    
    /* Agrega más estilos específicos para dispositivos móviles aquí */
}