<section class="card-container">
    <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d591.0816655297991!2d-74.12976605564374!3d4.716528697740262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f833a9ba9023d%3A0xb30f7ecfa03a921!2sConjunto%20Residencial%20Montecarlo%20VII!5e0!3m2!1ses-419!2sco!4v1694389676241!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <section class="card-body">
        <h5 class="card-title text-primary">Blue Ocean</h5>
        <p class="card-text">Crr 116B #72f 20 Ed MonteCarlo VII.</p>
    </section>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Bogotá, Colombia</strong></li>
        <li class="list-group-item"><strong>Email:</strong> <a href="#">travelagency@yahoo.com</a></li>
        <li class="list-group-item"><strong>Tel</strong> <a href="tel:3164231234">316 423 1234</a></li>
    </ul>
    <section class="card-body bg-info">
        <a href="" class="card-link"></a>
    </section>
</section>